@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700');

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  font-family: Avenir, 'IBM Plex Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

header {
  font-family: Avenir, 'IBM Plex Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

#space {
  height: 80vh;
}

.counter {
  font-size: 12vw;
}

#main {
  position: absolute;
  z-index: 100;
  font-family: Avenir, 'IBM Plex Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 400;
  display: block;
  width: 100vw;
  margin: auto;
}

.landing {
  color: #fff;
  padding: 5%;
  text-align: center;
}

.arrow-cont {
  text-align: center;
}
.arrow {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 0;
  }
}

.container {
  max-width: 100%;
  font-size: 2rem;
  padding: 2%;
  color: #333;
}

.container .content {
  max-width: 30em;
  margin: 0 auto;
}
.container .content-centered {
  max-width: 30em;
  margin: 0 auto;
  text-align: center;
}
.container .special {
  font-size: 40px;
  font-weight: bold;
}

.sponsors {
  max-width: 90%;
  margin: auto;
}

.big-sponsor {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.medium-sponsor {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.container .special-bottom {
  background: #ffe8ef;
  display: inline;
  padding: 7px;
}

.container .special-bottom-small {
  background: #ffe8ef;
  display: inline;
}
.container .description {
  font-size: 30px;
}

.schedule {
  max-width: 30em;
  margin: auto;
}

.schedule .cf {
  font-size: 25px;
}

.container p {
  max-width: 40em;
  margin: 0 auto;
  color: #333;
}

.landing .subtitle {
  font-size: 3.5em;
}

.accent {
  color: #ff0c5b !important;
}

.map-container {
  position: relative;
  padding-bottom: 30%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.answer {
  margin: 5px;
  font-size: 20px;
  max-width: 70%;
  line-height: 1.3;
}

.enlight {
  font-size: 5em;
  font-weight: 900;
  padding: 0;
  margin: 0;
}

.date {
  padding-bottom: 4%;
}

@media (max-width: 800px) {
  .enlight {
    font-size: 3em;
  }
  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .sponsors {
    max-width: 100%;
    margin: auto;
  }

  .landing .subtitle {
    font-size: 2.2em;
  }

  .button {
    display: block;
  }
}

.buttons {
  padding-top: 10px;
  max-width: 50em;
  margin: auto;
}
.buttons .button {
  padding: 10px;
  font-size: 20px;
  border: 5px solid #f3f3f3;
  color: #f3f3f3 !important;
  border-radius: 5px;
  margin-right: 0px;
  font-weight: bold;
  text-decoration: none !important;
}

.buttons .button:hover {
  background: #f3f3f3 !important;
  color: #222 !important;
  transition: all 300ms ease;
}

/* post colors */

.maroon {
  background: linear-gradient(270deg, #a22222, #241313);
  background-size: 400% 400%;

  -webkit-animation: GradientAnimation 60s ease infinite;
  -moz-animation: GradientAnimation 60s ease infinite;
  animation: GradientAnimation 60s ease infinite;
}

.blue {
  background: linear-gradient(270deg, #36d1dc, #5b86e5);
  background-size: 400% 400%;

  -webkit-animation: GradientAnimation 23s ease infinite;
  -moz-animation: GradientAnimation 23s ease infinite;
  animation: GradientAnimation 23s ease infinite;
}

.orange {
  background: linear-gradient(270deg, #ff5f6d, #ffc371);
  background-size: 400% 400%;

  -webkit-animation: GradientAnimation 23s ease infinite;
  -moz-animation: GradientAnimation 23s ease infinite;
  animation: GradientAnimation 23s ease infinite;
}

@-webkit-keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* footer */

footer {
  background: #222;
  color: #fff;
}
