<div id="space">

<div id="main">

<div class="landing">
<h1 class="enlight"> Make<span class="accent">SPP</span></h1>
<h2 class="date"> May 26th, 2018 </h2>

<h2 class="subtitle"> Learn, make, and share <span class="accent">innovative</span> projects with  <span class="accent">100+</span> high school students.</h2>

<div class="buttons">
<a class='button typeform-share link' href="https://samayshamdasani.typeform.com/to/x9FcNm" data-mode="drawer_right" style="color:#267DDD;text-decoration:underline;font-size:20px;" target="_blank">Register</a>
<script>
;(function() {
  var qs,
    js,
    q,
    s,
    d = document,
    gi = d.getElementById,
    ce = d.createElement,
    gt = d.getElementsByTagName,
    id = 'typef_orm_share',
    b = 'https://embed.typeform.com/'
  if (!gi.call(d, id)) {
    js = ce.call(d, 'script')
    js.id = id
    js.src = b + 'embed.js'
    q = gt.call(d, 'script')[0]
    q.parentNode.insertBefore(js, q)
  }
})()
</script>


</div>




</div>

</div>


</div>
