<div id="space">

<div id="main">

<div class="landing">
<h1 class="enlight"> <a href="/">Make<span class="accent">SPP</span></a></h1>
<h2 class="date"> Saturday, May 26th, 2018 </h2>

<div class="buttons">
<a class='button link' href="/waiver.pdf">Waiver</a>
<a class='button link' href="https://makespp.devpost.com/">Devpost</a>
<a class='button link' href="/resources.html">Resources</a>
<a class='button link' href="/countdown.html">Countdown</a>

<script>
;(function() {
  var qs,
    js,
    q,
    s,
    d = document,
    gi = d.getElementById,
    ce = d.createElement,
    gt = d.getElementsByTagName,
    id = 'typef_orm_share',
    b = 'https://embed.typeform.com/'
  if (!gi.call(d, id)) {
    js = ce.call(d, 'script')
    js.id = id
    js.src = b + 'embed.js'
    q = gt.call(d, 'script')[0]
    q.parentNode.insertBefore(js, q)
  }
})()
</script>

</div>




</div>

</div>


</div>
